#myPeeps {
	background: #81BC39;
	padding: 0;
	margin:0;
	height:60px;
	font-size: 22px;
	position: relative;
}
a {
	text-decoration: none;
}
#myPeeps a {
	color:#fff;
	position: relative;
	top:15px;
	left:15px;
}
#container {
	width:800px;
}
ul {
	padding:0;
	margin:0;
}
li {
	background-color: #F7F7F7;
	list-style:none;
	height:50px;
	border-bottom:1px solid #E7E7E7;
	position: relative;
	padding-left:20px;
}

#nameTemp a {
	text-decoration: none;
	color:black;
	position: relative;
	top:20px;
}

#contactHeader {
	background: #A7D076;
	height:200px;
	display: none;
}

.person span {
	position: relative;
	top:20px;
}



